In [2]:
import pandas as pd

# Specify the file path
csv_file_path = 'C:\\ESTERA\\CCT\\TWEETS\\ProjectTweets.csv'  
column_names = ['Id','Tweet_id','Date','No_Query','User','Tweet'] 

# Read the CSV file into a DataFrame
data = pd.read_csv(csv_file_path, names=column_names)
data.columns = column_names

In [3]:
data.head()

,Id,Tweet_id,Date,No_Query,User,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
# counting the missing values
data.isnull().sum()

Id          0
Tweet_id    0
Date        0
No_Query    0
User        0
Tweet       0
dtype: int64

In [5]:
# Remove commas from the 'Tweet' column
data['Tweet'] = data['Tweet'].str.replace(',', '')
data.head()

,Id,Tweet_id,Date,No_Query,User,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,@switchfoot http://twitpic.com/2y1zl - Awww th...
1,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,@nationwideclass no it's not behaving at all. ...

In [6]:
# Count how many commas are in the 'Tweet' column
comma_count = data['Tweet'].str.count(',')
total_commas = comma_count.sum()

print(f'Total number of commas in the "Tweet" column: {total_commas}')

Total number of commas in the "Tweet" column: 0

In [ ]:
# Save the DataFrame to a CSV file
data.to_csv('Tweets.csv', index=False)

print('DataFrame saved to output.csv')